/* Main Styles */
body, html {
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}

a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted;
}

header.main {
	z-index: 2;
	position: fixed;
	top: 0;
	width: calc(100% - 40px);
	padding: 20px;
	background: #2e74b5;
	color: #FFF;
}

header.main:after {
	display: table;
	clear: both;
	content: '';
}

header.main > .name {
	position: relative;
	width: 100%;
	font-size: 40px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	background: #2e74b5;
	
}

@media only screen and (max-width: 366px) {
	header.main > .name > .middle {
		display: none;
	}
}

header.main > .subtitle {
	float: left;
	font-family: 'Roboto', sans-serif;
}

header.main > .links {
	float: right;
	width: 56px;
}

header.main > .links > a {
	display: block;
	width: 20px;
	border: none;
	margin: 0 4px;
	float: left;
}

header.main > .links > a > div {
	display: none;
}

header.main > .links > a > svg {
	height: 20px;
	width: 20px;
	fill: #FFF;
	margin-bottom: -4px;
}

/* Section Styling */

main {
	padding-top: 110px;
	z-index: 1;
}

main > section {
	position: relative;
}

main > section:last-child {
	margin-bottom: none !important;
}

section > header {
	padding: 10px 20px;
	position: sticky;
	top: 111px;
	background: #2E74B5;
	color: #FFF;
	fill: #FFF;
	border-top: 2px solid #FFF;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(189,183,189,0.8);
	-moz-box-shadow: 0px 5px 10px 0px rgba(189,183,189,0.8);
	box-shadow: 0px 5px 10px 0px rgba(189,183,189,0.8);
}

section > header > .icon {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

section > header > .icon > svg {
	height: 25px;
	width: 25px;
}

section > header > .title {
	font-family: 'Roboto', sans-serif;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
}

/* Article Styling */
section > article:last-child {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}

article {
	border-bottom: 1px dotted #888;
	margin-bottom: 1em;
	margin-left: 10px;
	margin-right: 10px;
}

article > header {
}

article > header:after {
	display: table;
	clear: both;
	content: '';
}

article > header > .time {
	float: right;
	width: calc(100% - 20px);
	margin: 5px 10px;
	padding: 3px 0;
	font-family: 'Bembo Std';
	display: flex;
	flex-direction: row-reverse;
	height: 22px;
	line-height: 16px;
}

article > header > .time:after {
	display: table;
	clear: both;
	content: '';
}

article > header > .time > .from {
}

article > header > .time > .to {
	flex: 1;
	display: flex;
	text-align: right;
}

article > header > .time > .to:before {
	flex: 1;
	margin: 7px 10px;
	content: '';
	height: 2px;
	background: #888;
}
/*
article > header > .time > .dash {
	margin: 10px 5px;
	flex: 1;
	content: '';
	height: 2px;
	background: #888;
}*/

article > header > .time > .tooltip {
	display: none;
}

article > header > .details {
	width: calc(100% - 20px);
	float: left;
	margin: 0 10px;
}

article > header > .details > .title {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

article > header > .details > .title-badge {
	
}

article > header > .details > .title-badge > span {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

article > header > .details > .title-badge > .badge {
	display: none;
}

article > header > .details > .title-badge > .badge:after {
	display: table;
	content: '';
	clear: both;
}

article > header > .details > .title-badge > a.badge {
	background: none;
	border: 1px solid #444;
}

article > header > .details > .title-badge > a.badge:hover {
	background: #E8E8E8;
}

article > header > .details > .title-badge > .badge > svg {
	margin-right: 5px;
	margin-top: 3px;
	float: left;
	width: 14px;
	height: 14px;
	fill: #FFF;
}

article > header > .details > .title-badge > a.badge > svg {
	fill: #444;
}

article > header > .details > .title-badge > .badge > div {
	float: left;
	display: inline-block;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
}

article > header > .details > .title-badge > a.badge > div {
	color: #444;
}

article > header > .details > .establishment {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #2E74B5;
}

article > header > .details > strong {
	font-size: 12px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	color: #2E74B5;
}

article > header > .details > .location {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #2E74B5;
}

article > .content {
	margin: 0 10px;
	font-family: 'Bembo Std';
	margin-top: -0.7em;
	text-align: justify;
}

nav.tabs {
	display: none;
}

section.tabBody {
	padding: 0 10px;
	margin-top: 15px;
	margin-bottom: 1em;
}

section.tabBody > .title {
	padding-bottom: 5px;
	margin: 10px;
	border-bottom: 1px solid #444;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

section.tabBody > ul {
	padding: 0;
	margin: 0 5px;
}

section.tabBody > ul:after {
	display: table;
	clear: both;
	content: '';
}

section.tabBody > ul > li {
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	margin: 5px;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

section.tabBody > ul > li:after {
	display: table;
	clear: both;
	content: '';
}

section.tabBody > ul > li > span {
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	font-family: 'Bembo Std';
}

section.tabBody > ul > li > svg {
	display: none;
}
	
