footer {
	width: calc(100% - 40px);
	padding: 10px 20px;
	border-top: 2px solid #444;
}

footer > .center {
	@extend %clearfix;

	> .copyright {
		float: left;
		@include reset-font-height(20px);

		> a {
			border-bottom: 1px dotted;
		}
	}

	> .download {
		float: right;

		> svg {
			fill: #444;
		}

		> span {
			display: none;
		}
	}
}		
