<!-- BeginArticle: {{ include.post.title }} -->
<article>
	<header>
		<div class="details">
			<div class="title-badge">
				<span>{{ include.post.title }}</span>
				{% if include.post.badge %}
					{% if include.post.badge.link %}
						<a class="badge" href="{{ include.post.badge.link }}" target="_blank">
							{% include icon.html name=include.post.badge.icon %}
							<div>{{ include.post.badge.text }}</div>
						</a>
					{% else %}
						<div class="badge">
							{% include icon.html name=include.post.badge.icon %}
							<div>{{ include.post.badge.text }}</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
			{% if include.post.establishment.link %}
				<a href="{{ include.post.establishment.link }}" target="_blank">{{ include.post.establishment.text }}</a>
			{% else %}
				<span>{{ include.post.establishment.text }}</span>
			{% endif %}

			{% if include.post.location %}
				<span>{{ include.post.location }}</span>
			{% endif %}
		
			{% if include.post.certification %}
				<strong>Certification Number: </strong>
				<a href="{{ include.post.certification.link }}" target="_blank">{{ include.post.certification.number }}</a>
			{% endif %}
		</div>
		<div class="time">
			{% if include.post.toDate %}
				<div class="to">{{ include.post.toDate | date: "%m/%Y" }}</div>
			{% endif %}
			
			<div class="from">{{ include.post.date | date: "%m/%Y" }}</div>
			
			{% if include.post.toDate %}
				<div class="tooltip">
					{% include date-diff.html toDate=include.post.toDate fromDate=include.post.date %}
				</div>
			{% endif %}
		</div>
	</header>
	{% if include.post.print.hideContent %}
		<div class="content print-hide">
	{% else %}
		<div class="content">
	{% endif %}
		{{ include.post.content }}
	</div>
</article>
<!-- EndArticle: {{ include.post.title }} -->
