<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ site.title }} | {{ page.title }} </title>

		<meta name="robots" content="noindex, nofollow">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="css/style.mobile.css" media="screen and (max-width: 767px)" />
		<link rel="stylesheet" href="css/style.css" media="screen and (min-width: 768px)" />
	</head>
	
	<body>
		<div class="container">
			{% include header.html %}
			<main id="container">
				{% include section.html title="Employment" icon="briefcase" slug="employment" %}
				{% include section.html title="Education" icon="university" slug="education" %}
				{% include section.html title="Coding Projects" icon="code" slug="coding-projects" %}
				{% include skills.html title="Skills" icon="wrench" data=site.data.skills %}
				{% include section.html title="Certifications" icon="certificate" slug="certifications" %}
			</main>
		</div>

		{% include javascript.html %}
	</body>
</html>
